nav {
    background-color: white;
    height: 80px;
    width: 100%;
}
.mylogo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
    padding: 0 100px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a.active,a:hover{
    color: rgb(48, 190, 247);
    transition: .5s;
}
#search {
    background-color: rgb(184, 49, 49);
    color: white;
}
.menu {
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: rgb(241, 241, 241);
    box-shadow: 7px 7px 30px rgb(216, 216, 216);
}
.menu-name {
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#food-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin-top: 40px;
}
body {
    margin-left: 15px;
}
.menu-image {
    height: 249px;
    width: 249px;
    margin-bottom: 10px;
    margin-top: 15px;
}
#order-button {
    background-color: chocolate;
    color: white;
    padding: 7px 15px;
    font-size: 20px;
    border: 2px solid white;
    box-shadow: 7px 7px 30px rgb(197, 197, 197);
    margin-top: 20px;
}
.ingredients-div {
    padding-left: 75px;
    margin-left: 350px;
    padding-top: 40px;
    padding-bottom: 50px;
    box-shadow: 7px 7px 30px rgb(197, 197, 197);
    width: 400px;
}